body {
  display: flex;
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-image: url("svg/vecteezy_tropical-leaves-hand-drawn-seamless-pattern-botanical_.jpg");
  background-size: 70%;
  background-repeat: repeat;
  background-blend-mode: hard-light; */
  overflow: hidden;
}

.container {
  backdrop-filter: blur(0.1rem);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  #flower1 {
    font-size: 0.6rem;
    display: none;
  }

  #flower2 {
    font-size: 1.1rem;
    display: none;
  }

  #flower3 {
    font-size: 1.2rem;
    display: none;
  }

  #intermediary {
    font-size: 1.2rem;
  }
  .redd {
    color: red;
  }
}

#credits {
  position: absolute;
  padding-block: 2rem;
  padding-inline: 10vw;
  bottom: 0rem;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 0.8rem;
  color: red;
  font-weight: 900;
}
